body {
  background: lightblue;
}

#title {
    text-align: center;
    margin-top: 3em;
}

#square {
    text-align: center;
    margin: 0 auto;
    width: 500px;
    height: 500px;
    border: solid;
    
}

#changeColorDiv {
    text-align: center;
    margin: auto;
}

